#modx-action-buttons .x-btn-branding {
	background: none !important;
	box-shadow: none !important;
	border: none !important;
	color: #555555 !important;
}

.twitter {
	color: #00b0dc !important;
}

.instagram {
	color: #8a3ab9 !important;
}

.facebook {
	color: #365899 !important;
}

.youtube {
	color: #cc181e !important;
}

.linkedin {
	color: #0077b5 !important;
}

.pinterest {
	color: #cb2026 !important;
}